___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>

# Set and Booleans

There are two other object types in Python that we should quickly cover: Sets and Booleans. 

## Sets

Sets are an unordered collection of *unique* elements. We can construct them by using the set() function. Let's go ahead and make a set to see how it works

In [1]:
x = set()

In [2]:
# We add to sets with the add() method
x.add(1)

In [3]:
#Show
x

{1}

In [4]:
x.add(2)

In [5]:
x

{1, 2}

In [6]:
x

{1, 2}

In [7]:
x

{1, 2}

In [9]:
x.add(2)

In [10]:
#it will still show 1,2 as the output because the last addition was 2 which already exists in the set
x

{1, 2}

In [11]:
x2={1,2,2,3,3,1,7,8,3}

In [13]:
#the output will only contain the unique values
x2

{1, 2, 3, 7, 8}

In [14]:
x2

{1, 2, 3, 7, 8}

In [15]:
x2

{1, 2, 3, 7, 8}

In [16]:
x3={1, 2, 3, 7, 8,'rahul',1.34,4,True}

In [17]:
x3

{1, 1.34, 2, 3, 4, 7, 8, 'rahul'}

In [18]:
x3

{1, 1.34, 2, 3, 4, 7, 8, 'rahul'}

In [21]:
x4={True, 1.34, 2, 3, 4, 7, 8, 'rahul',False}

In [26]:
x4

{1.34, 2, 3, 4, 7, 8, False, True, 'rahul'}

very important to observe that (example Below) when 0 and 1 are used in the set along with True and False then only 0 and 1  are shown and not True or False.
This is bacause Python internally considers True==1 and False==0 , and these will be dublicates, so removed.

In [23]:

x5={0,1,1.34, 2, 3, 4, 7, 8, False, True, 'rahul'}

In [24]:
x5

{0, 1, 1.34, 2, 3, 4, 7, 8, 'rahul'}

In [25]:
x5

{0, 1, 1.34, 2, 3, 4, 7, 8, 'rahul'}

In [1]:
x1=set()

In [2]:
x1.add(3)

In [3]:
x1

{3}

In [4]:
x1.add(4)

In [5]:
x1

{3, 4}

In [6]:
x1.add(3)

In [7]:
x1

{3, 4}

# Note the curly brackets. This does not indicate a dictionary! Although you can draw analogies as a set being a dictionary with only keys.

We know that a set has only unique entries. So what happens when we try to add something that is already in a set?

In [4]:
# Add a different element
x.add(2)

In [5]:
#Show
x

{1, 2}

In [6]:
# Try to add the same element
x.add(1)

In [7]:
#Show
x

{1, 2}

Notice how it won't place another 1 there. That's because a set is only concerned with unique elements! We can cast a list with multiple repeat elements to a set to get the unique elements. For example:

In [8]:
# Create a list with repeats
list1 = [1,1,2,2,3,4,5,6,1,1]

In [27]:
list2=[1,1,2,3,3,4,5,56,56,6,66,6,56,56]

changing the List to a Set to get the unique values

In [28]:
set(list2)

{1, 2, 3, 4, 5, 6, 56, 66}

In [29]:
#notice that the casting didn't change the original list
list2

[1, 1, 2, 3, 3, 4, 5, 56, 56, 6, 66, 6, 56, 56]

In [9]:
# Cast as set to get unique values
set(list1)

{1, 2, 3, 4, 5, 6}

## Booleans

Python  comes with Booleans (with predefined True and False displays that are basically just the integers 1 and 0). It also has a placeholder object called None. Let's walk through a few quick examples of Booleans (we will dive deeper into them later in this course).

In [30]:
# Set object to be a boolean
a = True

In [31]:
#Show
a

True

We can also use comparison operators to create booleans. We will go over all the comparison operators later on in the course.

In [12]:
# Output is boolean
1 > 2

False

We can use None as a placeholder for an object that we don't want to reassign yet:

In [32]:
# None placeholder
b = None

In [14]:
# Show
print(b)

None

Thats it! You should now have a basic understanding of Python objects and data structure types. Next, go ahead and do the assessment test!